<!DOCTYPE html>
<html>
    <head>
        <title>Metro Trip Planner</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
    <h1>Metro Trip Planner</h1>
    <div class="bg">
        <form id="trip-form">
            <label for="start-station">Start Station:</label>
            <input type="text" id="start-station" name="start" required>
            <br>
            <label for="end-station">Destination:</label>
            <input type="text" id="end-station" name="end" required>
            <br>
            <button type="submit">Plan Trip</button>
        </form>
    </div>
    <div id="trip-result"></div>
    <ul id="route"></ul>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
    <div class="bottom-link">
        <a href="index.html">Click Here to go Back to Planning</a>
    </div>
</html>
